<!DOCTYPE html>
<html lang="en">
<head>
  <title>ZOMATO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>


<%

@detail = @rest_id.to_i

require 'rest-client'
z = RestClient::Request.execute(
:method => :get,
:url => "https://api.zomato.com/v1/restaurant.json/"+@detail.to_s,
:headers => {"X-Zomato-API-Key" => "7749b19667964b87a3efc739e254ada2"}
)
obj = JSON.parse(z)
 %>

<div class="container">
  <div class="jumbotron">
    <h1> <a href="/"> ZOMATO</a> </h1> 
  </div>
  </br>
  </br>
  <div class="row">
    <div class="col-sm-4" > <img src=<%= obj["image_310_150"] %> class="img-rounded" alt="Cinque Terre" width="320" height="260"> </div>
    <div class="col-sm-8" ><h2><%= obj["name"] %></h2>
        <h3>Address : <%=obj["location"]["address"]%></h3>
        <h3>Locality : <%=obj["location"]["locality"]%></h3>
        <h3>Overall Rating: <%=obj["editorRating"]["overall"]%></h3>
        <h3>URL: <a href = <%='"'+obj["url"]+'"'%>>home</a></h3> 
    </div>
  </div>
  <div class = "row">
    <div class="col-sm-12"><h3>User Review</h3>    
    <% if obj["userReviews"]["0"].nil? %>
        <div class="col-sm-12"><h4>Not Available</h4>
    <% else %>
        <div class="col-sm-12"><h4><%=obj["userReviews"]["0"]["review"]["reviewText"]%></h4></div>
        <br>
        <div class="col-sm-12"><h4><%=obj["userReviews"]["1"]["review"]["reviewText"]%></h4>
    <% end %>
        </div>        
        </div>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12"><h3>Menu</h3>
      <% if obj["menu"].empty? %>
        <div class="col-sm-12"> <h4>Not Available</h4> 
      <% else %>
        <div class="col-sm-4" > <img src=<%= obj["menu"]["0"]["page"]["url"] %> class="img-rounded" alt="Cinque Terre" width="460" height="680"> </div>   
      <% end %>
        </div>
    </div>
  </div>
</div>

</body>
</html>