<div class="container">
  <div class="jumbotron">
  	<h1> <a href="/"> ZOMATO</a> </h1> 
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>LOCALITY</th>
      </tr>
    </thead>
    <tbody>
    <% i=0
    @subzone_id=@local_var[1]
    @local = @local_var[0]
    while i < @local.length %>
      <tr>
        <td><a href="restaurant/<%=@subzone_id[i] %>"> <%= @local[i]%> </a></td>
        <% i = i + 1 %>
        <td><a href="restaurant/<%=@subzone_id[i] %>"> <%= @local[i]%> </a></td>
        <% i = i + 1 %>
        <td><a href="restaurant/<%=@subzone_id[i] %>"> <%= @local[i]%> </a></td>
        <% i = i + 1 %>
     </tr>
    <% end %>   
    </tbody>
  </table>
</div>

