
<div class="container">
  <div class="jumbotron">
    <h1> <a href="/"> ZOMATO</a> </h1> 
  </div>

  <div class="row">
    <div class="col-sm-8" ><h2><%= details.name %></h2>
        <h3>Address : <%= details.address %></h3>
        <h3>City : <%= details.city%></h3>
        <h3>Date of Inspection: <%= details.date%></h3>
        <h3>Type: <%= details.type%></h3>
        <h3>violations: <%= details.violations%></h3>
        <h3>violation_rule: <%= details.violation_rule%></h3>
    </div>
  </div>


</div>

